<!DOCTYPE html>
<html>
<head>
	<title>Click Speed Test</title>
</head>
<body>
	<h1>Click Speed Test</h1>
	<p>Click the button as fast as you can:</p>
	<form method="post">
		<button type="submit" {% if elapsed_time >= 10 %}disabled{% endif %}>Click me!</button>
	</form>
	{% if elapsed_time >= 10 %}
		<p>Time limit: 10 seconds</p>
		<p>Time elapsed: {{ elapsed_time }} seconds</p>
		<p>Counter: {{ session.get('final_counter', 0)}}</p>
		<form method="get">
			<button type="submit">Try again</button>
		</form>
	{% else %}
		<p>Counter: {{ counter }}</p>
		<div class="time-bar" style="width: {{ (elapsed_time / 10) * 100 }}%;"></div>
	{% endif %}
	
	
</body>

<style>
		.time-bar div {
			height: 5px;
			background: linear-gradient(to bottom, red, #900);
			animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
			transform-origin: left center;
		}
		
		@keyframes roundtime {
  			to {
			    /* More performant than animating `width` */
			    transform: scaleX(0);
			}
  		}
  		
  		.time-bar[data-style="smooth"] div {
  			animation: roundtime calc(var(--duration) * 1s) linear forwards;
		}
</style>


</html>
